In [151]:
#pip install pypyodbc

#   Uploading csv files to ssms

In [152]:
import pypyodbc  as odbc
import pandas as pd

In [153]:
#pip install pyodbc

In [154]:
import pyodbc
print(pyodbc.drivers())

['SQL Server', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)', 'ODBC Driver 17 for SQL Server']

# connecting the ssms to python

In [155]:
import pyodbc

try:
    # Set autocommit=True to avoid wrapping in a transaction
    conn = pyodbc.connect(
        "DRIVER={ODBC Driver 17 for SQL Server};"
        "SERVER=DESKTOP-4H1OBGV\\MSSQLSERVER1;"
        "Trusted_Connection=yes;",
        autocommit=True
    )

    cursor = conn.cursor()
    cursor.execute("CREATE DATABASE pythonscenario")
    print("Database created successfully")

except Exception as e:
    print("Error:", e)

Error: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Database 'pythonscenario' already exists. Choose a different database name. (1801) (SQLExecDirectW)")

In [156]:
import pandas as pd

df = pd.read_csv("Test3.csv")

df['registration_date'] = pd.to_datetime(df['registration_date'], format="%d-%m-%Y")


print(df.dtypes)
print(df['registration_date'].head())

customer_id                   int64
name                         object
email                        object
phone                        object
address                      object
registration_date    datetime64[ns]
loyalty_status               object
country_code                 object
CallingCode                   int64
dtype: object
0   2025-01-25
1   2023-07-13
2   2023-08-18
3   2024-12-08
4   2024-02-03
Name: registration_date, dtype: datetime64[ns]

In [157]:
df.head()

,customer_id,name,email,phone,address,registration_date,loyalty_status,country_code,CallingCode
0,1,Michelle Kidd,vayala@example.net,+971-6197234258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,AE,971
1,2,Brad Newton,taylorcatherine@example.net,+356-5376741158,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,MT,356
2,3,Larry Torres,dsanchez@example.net,+1-8102564505,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,UT,1
3,4,Kimberly Price,jessicaknight@example.com,+1-4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,CA,1
4,5,Matthew Phillips,qwilliams@example.com,+1-2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,OR,1

In [158]:
df.columns

Index(['customer_id', 'name', 'email', 'phone', 'address', 'registration_date',
       'loyalty_status', 'country_code', 'CallingCode'],
      dtype='object')

# creating table in ssms using python

In [175]:
import pyodbc

conn = pyodbc.connect(
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=DESKTOP-4H1OBGV\\MSSQLSERVER1;"
    "DATABASE=pythonscenario;"
    "Trusted_Connection=yes;"
)

cursor = conn.cursor()
cursor.execute("""
CREATE TABLE customer (
    customer_id INT,
    name VARCHAR(50),
    email VARCHAR(50),
    phone VARCHAR(50),
    address VARCHAR(100),
    registration_date DATE,
    loyalty_status VARCHAR(50),
    country_code VARCHAR(50),
    CallingCode INT
)
""")
conn.commit()
print("Customer table created successfully")

ProgrammingError: ('42S01', "[42S01] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]There is already an object named 'customer' in the database. (2714) (SQLExecDirectW)")

# inserting values into table using python and csv file

In [ ]:

for index, row in df.iterrows():
    cursor.execute("""
        INSERT INTO customer (
            customer_id,
            name,
            email,
            phone,
            address,
            registration_date,
            loyalty_status,
            country_code,
            CallingCode
        ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
    """, (
        int(row['customer_id']),
        row['name'],
        row['email'],
        row['phone'],
        row['address'],
        row['registration_date'].strftime('%Y-%m-%d'),  #  formatted date
        row['loyalty_status'],
        row['country_code'],
        int(row['CallingCode'])
    ))

conn.commit()
print(" All rows inserted successfully into SQL Server.")

# Read the new csv file

In [ ]:
df1=pd.read_csv(r'transaction_cleaned.csv')

In [ ]:
df1.head()

In [ ]:
#pip install sqlalchemy

# Importing the tables from csv file to ssms

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import urllib
conn = pyodbc.connect(
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=DESKTOP-4H1OBGV\\MSSQLSERVER1;"
    "DATABASE=pythonscenario;"
    "Trusted_Connection=yes;"
)


# Encode parameters for SQLAlchemy

engine = create_engine(  "mssql+pyodbc://DESKTOP-4H1OBGV\\MSSQLSERVER1/pythonscenario"
    "?driver=ODBC+Driver+17+for+SQL+Server"
    "&trusted_connection=yes")
 
# Load CSVs
transaction = pd.read_csv(r'transaction_cleaned.csv')
orders = pd.read_csv(r'order_data 1.csv')
 
 
#customer.to_sql('Customers', con=engine, if_exists='replace', index=False)
transaction.to_sql('transaction', con=engine, if_exists='replace', index=False)
orders.to_sql('orders', con=engine, if_exists='replace', index=False)

255

In [ ]:
import re

In [ ]:
df.describe()

       customer_id              registration_date  CallingCode
count  1000.000000                           1000  1000.000000
mean    500.500000  2024-06-25 16:39:21.600000256   165.925000
min       1.000000            2023-06-17 00:00:00     1.000000
25%     250.750000            2023-12-22 18:00:00     1.000000
50%     500.500000            2024-06-26 00:00:00     1.000000
75%     750.250000            2025-01-04 06:00:00   241.000000
max    1000.000000            2025-06-16 00:00:00   976.000000
std     288.819436                            NaN   283.319257

In [ ]:
df.head()

,customer_id,name,email,phone,address,registration_date,loyalty_status,country_code,CallingCode
0,1,Michelle Kidd,vayala@example.net,+971-6197234258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,AE,971
1,2,Brad Newton,taylorcatherine@example.net,+356-5376741158,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,MT,356
2,3,Larry Torres,dsanchez@example.net,+1-8102564505,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,UT,1
3,4,Kimberly Price,jessicaknight@example.com,+1-4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,CA,1
4,5,Matthew Phillips,qwilliams@example.com,+1-2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,OR,1

# Removing Prefix and Suffix from name

In [177]:
pip install spacy

Collecting spacy
  Downloading spacy-3.8.7-cp311-cp311-win_amd64.whl.metadata (28 kB)
Collecting spacy-legacy<3.1.0,>=3.0.11 (from spacy)
  Downloading spacy_legacy-3.0.12-py2.py3-none-any.whl.metadata (2.8 kB)
Collecting spacy-loggers<2.0.0,>=1.0.0 (from spacy)
  Downloading spacy_loggers-1.0.5-py3-none-any.whl.metadata (23 kB)
Collecting murmurhash<1.1.0,>=0.28.0 (from spacy)
  Downloading murmurhash-1.0.13-cp311-cp311-win_amd64.whl.metadata (2.2 kB)
Collecting cymem<2.1.0,>=2.0.2 (from spacy)
  Downloading cymem-2.0.11-cp311-cp311-win_amd64.whl.metadata (8.8 kB)
Collecting preshed<3.1.0,>=3.0.2 (from spacy)
  Downloading preshed-3.0.10-cp311-cp311-win_amd64.whl.metadata (2.5 kB)
Collecting thinc<8.4.0,>=8.3.4 (from spacy)
  Downloading thinc-8.3.6-cp311-cp311-win_amd64.whl.metadata (15 kB)
Collecting wasabi<1.2.0,>=0.9.1 (from spacy)
  Downloading wasabi-1.1.3-py3-none-any.whl.metadata (28 kB)
Collecting srsly<3.0.0,>=2.4.3 (from spacy)
  Downloading srsly-2.5.1-cp311-cp311-win_amd64.whl.metadata (20 kB)
Collecting catalogue<2.1.0,>=2.0.6 (from spacy)
  Downloading catalogue-2.0.10-py3-none-any.whl.metadata (14 kB)
Collecting weasel<0.5.0,>=0.1.0 (from spacy)
  Downloading weasel-0.4.1-py3-none-any.whl.metadata (4.6 kB)
Collecting typer<1.0.0,>=0.3.0 (from spacy)
  Downloading typer-0.16.0-py3-none-any.whl.metadata (15 kB)
Collecting tqdm<5.0.0,>=4.38.0 (from spacy)
  Downloading tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
Requirement already satisfied: numpy>=1.19.0 in c:\users\harshavardhan\documents\python_tutorials\venv\lib\site-packages (from spacy) (2.3.0)
Collecting requests<3.0.0,>=2.13.0 (from spacy)
  Downloading requests-2.32.4-py3-none-any.whl.metadata (4.9 kB)
Collecting pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4 (from spacy)
  Downloading pydantic-2.11.7-py3-none-any.whl.metadata (67 kB)
Collecting jinja2 (from spacy)
  Downloading jinja2-3.1.6-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: setuptools in c:\users\harshavardhan\documents\python_tutorials\venv\lib\site-packages (from spacy) (65.5.0)
Requirement already satisfied: packaging>=20.0 in c:\users\harshavardhan\documents\python_tutorials\venv\lib\site-packages (from spacy) (25.0)
Collecting langcodes<4.0.0,>=3.2.0 (from spacy)
  Downloading langcodes-3.5.0-py3-none-any.whl.metadata (29 kB)
Collecting language-data>=1.2 (from langcodes<4.0.0,>=3.2.0->spacy)
  Downloading language_data-1.3.0-py3-none-any.whl.metadata (4.3 kB)
Collecting annotated-types>=0.6.0 (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy)
  Downloading annotated_types-0.7.0-py3-none-any.whl.metadata (15 kB)
Collecting pydantic-core==2.33.2 (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy)
  Downloading pydantic_core-2.33.2-cp311-cp311-win_amd64.whl.metadata (6.9 kB)
Requirement already satisfied: typing-extensions>=4.12.2 in c:\users\harshavardhan\documents\python_tutorials\venv\lib\site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (4.14.0)
Collecting typing-inspection>=0.4.0 (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy)
  Downloading typing_inspection-0.4.1-py3-none-any.whl.metadata (2.6 kB)
Collecting charset_normalizer<4,>=2 (from requests<3.0.0,>=2.13.0->spacy)
  Downloading charset_normalizer-3.4.2-cp311-cp311-win_amd64.whl.metadata (36 kB)
Collecting idna<4,>=2.5 (from requests<3.0.0,>=2.13.0->spacy)
  Downloading idna-3.10-py3-none-any.whl.metadata (10 kB)
Collecting urllib3<3,>=1.21.1 (from requests<3.0.0,>=2.13.0->spacy)
  Downloading urllib3-2.5.0-py3-none-any.whl.metadata (6.5 kB)
Collecting certifi>=2017.4.17 (from requests<3.0.0,>=2.13.0->spacy)
  Downloading certifi-2025.6.15-py3-none-any.whl.metadata (2.4 kB)
Collecting blis<1.4.0,>=1.3.0 (from thinc<8.4.0,>=8.3.4->spacy)
  Downloading blis-1.3.0-cp311-cp311-win_amd64.whl.metadata (7.6 kB)
Collecting confection<1.0.0,>=0.0.1 (from thinc<8.4.0,>=8.3.4->spacy)
  Downloading confection-0.1.5-py3-none-any.whl.metadata (19 kB)
Requirement already satisfied: colorama in c:\users\harshavardhan\documents\python_tutorials\venv\lib\site-packages (from tqdm<5.0.0,>=4.38.0->spacy) (0.4.6)
Collecting click>=8.0.0 (from typer<1.0.0,>=0.3.0->spacy)
  Downloading click-8.2.1-py3-none-any.whl.metadata (2.5 kB)
Collecting shellingham>=1.3.0 (from typer<1.0.0,>=0.3.0->spacy)
  Downloading shellingham-1.5.4-py2.py3-none-any.whl.metadata (3.5 kB)
Collecting rich>=10.11.0 (from typer<1.0.0,>=0.3.0->spacy)
  Downloading rich-14.0.0-py3-none-any.whl.metadata (18 kB)
Collecting cloudpathlib<1.0.0,>=0.7.0 (from weasel<0.5.0,>=0.1.0->spacy)
  Downloading cloudpathlib-0.21.1-py3-none-any.whl.metadata (14 kB)
Collecting smart-open<8.0.0,>=5.2.1 (from weasel<0.5.0,>=0.1.0->spacy)
  Downloading smart_open-7.1.0-py3-none-any.whl.metadata (24 kB)
Collecting wrapt (from smart-open<8.0.0,>=5.2.1->weasel<0.5.0,>=0.1.0->spacy)
  Downloading wrapt-1.17.2-cp311-cp311-win_amd64.whl.metadata (6.5 kB)
Collecting marisa-trie>=1.1.0 (from language-data>=1.2->langcodes<4.0.0,>=3.2.0->spacy)
  Downloading marisa_trie-1.2.1-cp311-cp311-win_amd64.whl.metadata (9.3 kB)
Collecting markdown-it-py>=2.2.0 (from rich>=10.11.0->typer<1.0.0,>=0.3.0->spacy)
  Downloading markdown_it_py-3.0.0-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\harshavardhan\documents\python_tutorials\venv\lib\site-packages (from rich>=10.11.0->typer<1.0.0,>=0.3.0->spacy) (2.19.1)
Collecting mdurl~=0.1 (from markdown-it-py>=2.2.0->rich>=10.11.0->typer<1.0.0,>=0.3.0->spacy)
  Downloading mdurl-0.1.2-py3-none-any.whl.metadata (1.6 kB)
Collecting MarkupSafe>=2.0 (from jinja2->spacy)
  Downloading MarkupSafe-3.0.2-cp311-cp311-win_amd64.whl.metadata (4.1 kB)
Downloading spacy-3.8.7-cp311-cp311-win_amd64.whl (14.9 MB)
   ---------------------------------------- 0.0/14.9 MB ? eta -:--:--
   --------- ------------------------------ 3.7/14.9 MB 18.1 MB/s eta 0:00:01
   -------------------- ------------------- 7.6/14.9 MB 18.1 MB/s eta 0:00:01
   ---------------------------- ----------- 10.7/14.9 MB 17.2 MB/s eta 0:00:01
   ----------------------------------- ---- 13.1/14.9 MB 15.5 MB/s eta 0:00:01
   -------------------------------------- - 14.4/14.9 MB 13.7 MB/s eta 0:00:01
   ---------------------------------------- 14.9/14.9 MB 12.5 MB/s eta 0:00:00
Downloading catalogue-2.0.10-py3-none-any.whl (17 kB)
Downloading cymem-2.0.11-cp311-cp311-win_amd64.whl (39 kB)
Downloading langcodes-3.5.0-py3-none-any.whl (182 kB)
Downloading murmurhash-1.0.13-cp311-cp311-win_amd64.whl (24 kB)
Downloading preshed-3.0.10-cp311-cp311-win_amd64.whl (117 kB)
Downloading pydantic-2.11.7-py3-none-any.whl (444 kB)
Downloading pydantic_core-2.33.2-cp311-cp311-win_amd64.whl (2.0 MB)
   ---------------------------------------- 0.0/2.0 MB ? eta -:--:--
   -------------------------- ------------- 1.3/2.0 MB 7.4 MB/s eta 0:00:01
   ---------------------------------------- 2.0/2.0 MB 7.2 MB/s eta 0:00:00
Downloading requests-2.32.4-py3-none-any.whl (64 kB)
Downloading charset_normalizer-3.4.2-cp311-cp311-win_amd64.whl (105 kB)
Downloading idna-3.10-py3-none-any.whl (70 kB)
Downloading spacy_legacy-3.0.12-py2.py3-none-any.whl (29 kB)
Downloading spacy_loggers-1.0.5-py3-none-any.whl (22 kB)
Downloading srsly-2.5.1-cp311-cp311-win_amd64.whl (632 kB)
   ---------------------------------------- 0.0/632.6 kB ? eta -:--:--
   ---------------------------------------- 632.6/632.6 kB 7.9 MB/s eta 0:00:00
Downloading thinc-8.3.6-cp311-cp311-win_amd64.whl (1.8 MB)
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
   ----------------------------------- ---- 1.6/1.8 MB 10.5 MB/s eta 0:00:01
   ---------------------------------------- 1.8/1.8 MB 7.4 MB/s eta 0:00:00
Downloading blis-1.3.0-cp311-cp311-win_amd64.whl (6.2 MB)
   ---------------------------------------- 0.0/6.2 MB ? eta -:--:--
   ----------- ---------------------------- 1.8/6.2 MB 11.2 MB/s eta 0:00:01
   --------------------- ------------------ 3.4/6.2 MB 8.4 MB/s eta 0:00:01
   ------------------------------- -------- 5.0/6.2 MB 7.7 MB/s eta 0:00:01
   -------------------------------------- - 6.0/6.2 MB 7.0 MB/s eta 0:00:01
   ---------------------------------------- 6.2/6.2 MB 6.6 MB/s eta 0:00:00
Downloading confection-0.1.5-py3-none-any.whl (35 kB)
Downloading tqdm-4.67.1-py3-none-any.whl (78 kB)
Downloading typer-0.16.0-py3-none-any.whl (46 kB)
Downloading urllib3-2.5.0-py3-none-any.whl (129 kB)
Downloading wasabi-1.1.3-py3-none-any.whl (27 kB)
Downloading weasel-0.4.1-py3-none-any.whl (50 kB)
Downloading cloudpathlib-0.21.1-py3-none-any.whl (52 kB)
Downloading smart_open-7.1.0-py3-none-any.whl (61 kB)
Downloading annotated_types-0.7.0-py3-none-any.whl (13 kB)
Downloading certifi-2025.6.15-py3-none-any.whl (157 kB)
Downloading click-8.2.1-py3-none-any.whl (102 kB)
Downloading language_data-1.3.0-py3-none-any.whl (5.4 MB)
   ---------------------------------------- 0.0/5.4 MB ? eta -:--:--
   ------- -------------------------------- 1.0/5.4 MB 5.6 MB/s eta 0:00:01
   --------------- ------------------------ 2.1/5.4 MB 5.9 MB/s eta 0:00:01
   ------------------- -------------------- 2.6/5.4 MB 4.6 MB/s eta 0:00:01
   ------------------------- -------------- 3.4/5.4 MB 4.3 MB/s eta 0:00:01
   ------------------------------- -------- 4.2/5.4 MB 4.3 MB/s eta 0:00:01
   ------------------------------------ --- 5.0/5.4 MB 4.1 MB/s eta 0:00:01
   ---------------------------------------- 5.4/5.4 MB 4.0 MB/s eta 0:00:00
Downloading marisa_trie-1.2.1-cp311-cp311-win_amd64.whl (152 kB)
Downloading rich-14.0.0-py3-none-any.whl (243 kB)
Downloading markdown_it_py-3.0.0-py3-none-any.whl (87 kB)
Downloading mdurl-0.1.2-py3-none-any.whl (10.0 kB)
Downloading shellingham-1.5.4-py2.py3-none-any.whl (9.8 kB)
Downloading typing_inspection-0.4.1-py3-none-any.whl (14 kB)
Downloading jinja2-3.1.6-py3-none-any.whl (134 kB)
Downloading MarkupSafe-3.0.2-cp311-cp311-win_amd64.whl (15 kB)
Downloading wrapt-1.17.2-cp311-cp311-win_amd64.whl (38 kB)
Installing collected packages: cymem, wrapt, wasabi, urllib3, typing-inspection, tqdm, spacy-loggers, spacy-legacy, shellingham, pydantic-core, murmurhash, mdurl, MarkupSafe, marisa-trie, idna, cloudpathlib, click, charset_normalizer, certifi, catalogue, blis, annotated-types, srsly, smart-open, requests, pydantic, preshed, markdown-it-py, language-data, jinja2, rich, langcodes, confection, typer, thinc, weasel, spacy

   - --------------------------------------  1/37 [wrapt]
   - --------------------------------------  1/37 [wrapt]
   -- -------------------------------------  2/37 [wasabi]
   -- -------------------------------------  2/37 [wasabi]
   --- ------------------------------------  3/37 [urllib3]
   --- ------------------------------------  3/37 [urllib3]
   --- ------------------------------------  3/37 [urllib3]
   --- ------------------------------------  3/37 [urllib3]
   --- ------------------------------------  3/37 [urllib3]
   ----- ----------------------------------  5/37 [tqdm]
   ----- ----------------------------------  5/37 [tqdm]
   ----- ----------------------------------  5/37 [tqdm]
   ----- ----------------------------------  5/37 [tqdm]
   ----- ----------------------------------  5/37 [tqdm]
   ----- ----------------------------------  5/37 [tqdm]
   ------ ---------------------------------  6/37 [spacy-loggers]
   ------ ---------------------------------  6/37 [spacy-loggers]
   ------ ---------------------------------  6/37 [spacy-loggers]
   ------- --------------------------------  7/37 [spacy-legacy]
   ------- --------------------------------  7/37 [spacy-legacy]
   ------- --------------------------------  7/37 [spacy-legacy]
   -------- -------------------------------  8/37 [shellingham]
   --------- ------------------------------  9/37 [pydantic-core]
   --------- ------------------------------  9/37 [pydantic-core]
   ----------- ---------------------------- 11/37 [mdurl]
   --------------- ------------------------ 14/37 [idna]
   --------------- ------------------------ 14/37 [idna]
   ---------------- ----------------------- 15/37 [cloudpathlib]
   ---------------- ----------------------- 15/37 [cloudpathlib]
   ---------------- ----------------------- 15/37 [cloudpathlib]
   ---------------- ----------------------- 15/37 [cloudpathlib]
   ----------------- ---------------------- 16/37 [click]
   ----------------- ---------------------- 16/37 [click]
   ----------------- ---------------------- 16/37 [click]
   ----------------- ---------------------- 16/37 [click]
   ------------------ --------------------- 17/37 [charset_normalizer]
   ------------------ --------------------- 17/37 [charset_normalizer]
   ------------------ --------------------- 17/37 [charset_normalizer]
   -------------------- ------------------- 19/37 [catalogue]
   --------------------- ------------------ 20/37 [blis]
   ---------------------- ----------------- 21/37 [annotated-types]
   ----------------------- ---------------- 22/37 [srsly]
   ----------------------- ---------------- 22/37 [srsly]
   ----------------------- ---------------- 22/37 [srsly]
   ----------------------- ---------------- 22/37 [srsly]
   ----------------------- ---------------- 22/37 [srsly]
   ----------------------- ---------------- 22/37 [srsly]
   ----------------------- ---------------- 22/37 [srsly]
   ----------------------- ---------------- 22/37 [srsly]
   ----------------------- ---------------- 22/37 [srsly]
   ----------------------- ---------------- 22/37 [srsly]
   ----------------------- ---------------- 22/37 [srsly]
   ----------------------- ---------------- 22/37 [srsly]
   ----------------------- ---------------- 22/37 [srsly]
   ----------------------- ---------------- 22/37 [srsly]
   ----------------------- ---------------- 22/37 [srsly]
   ----------------------- ---------------- 22/37 [srsly]
   ----------------------- ---------------- 22/37 [srsly]
   ----------------------- ---------------- 22/37 [srsly]
   ----------------------- ---------------- 22/37 [srsly]
   ----------------------- ---------------- 22/37 [srsly]
   ----------------------- ---------------- 22/37 [srsly]
   ------------------------ --------------- 23/37 [smart-open]
   ------------------------ --------------- 23/37 [smart-open]
   ------------------------ --------------- 23/37 [smart-open]
   ------------------------ --------------- 23/37 [smart-open]
   ------------------------- -------------- 24/37 [requests]
   ------------------------- -------------- 24/37 [requests]
   ------------------------- -------------- 24/37 [requests]
   ------------------------- -------------- 24/37 [requests]
   --------------------------- ------------ 25/37 [pydantic]
   --------------------------- ------------ 25/37 [pydantic]
   --------------------------- ------------ 25/37 [pydantic]
   --------------------------- ------------ 25/37 [pydantic]
   --------------------------- ------------ 25/37 [pydantic]
   --------------------------- ------------ 25/37 [pydantic]
   --------------------------- ------------ 25/37 [pydantic]
   --------------------------- ------------ 25/37 [pydantic]
   --------------------------- ------------ 25/37 [pydantic]
   --------------------------- ------------ 25/37 [pydantic]
   --------------------------- ------------ 25/37 [pydantic]
   --------------------------- ------------ 25/37 [pydantic]
   --------------------------- ------------ 25/37 [pydantic]
   --------------------------- ------------ 25/37 [pydantic]
   --------------------------- ------------ 25/37 [pydantic]
   --------------------------- ------------ 25/37 [pydantic]
   --------------------------- ------------ 25/37 [pydantic]
   --------------------------- ------------ 25/37 [pydantic]
   ---------------------------- ----------- 26/37 [preshed]
   ----------------------------- ---------- 27/37 [markdown-it-py]
   ----------------------------- ---------- 27/37 [markdown-it-py]
   ----------------------------- ---------- 27/37 [markdown-it-py]
   ----------------------------- ---------- 27/37 [markdown-it-py]
   ----------------------------- ---------- 27/37 [markdown-it-py]
   ----------------------------- ---------- 27/37 [markdown-it-py]
   ----------------------------- ---------- 27/37 [markdown-it-py]
   ----------------------------- ---------- 27/37 [markdown-it-py]
   ----------------------------- ---------- 27/37 [markdown-it-py]
   ----------------------------- ---------- 27/37 [markdown-it-py]
   ----------------------------- ---------- 27/37 [markdown-it-py]
   ----------------------------- ---------- 27/37 [markdown-it-py]
   ------------------------------ --------- 28/37 [language-data]
   ------------------------------ --------- 28/37 [language-data]
   ------------------------------ --------- 28/37 [language-data]
   ------------------------------ --------- 28/37 [language-data]
   ------------------------------ --------- 28/37 [language-data]
   ------------------------------ --------- 28/37 [language-data]
   ------------------------------ --------- 28/37 [language-data]
   ------------------------------- -------- 29/37 [jinja2]
   ------------------------------- -------- 29/37 [jinja2]
   ------------------------------- -------- 29/37 [jinja2]
   ------------------------------- -------- 29/37 [jinja2]
   ------------------------------- -------- 29/37 [jinja2]
   ------------------------------- -------- 29/37 [jinja2]
   -------------------------------- ------- 30/37 [rich]
   -------------------------------- ------- 30/37 [rich]
   -------------------------------- ------- 30/37 [rich]
   -------------------------------- ------- 30/37 [rich]
   -------------------------------- ------- 30/37 [rich]
   -------------------------------- ------- 30/37 [rich]
   -------------------------------- ------- 30/37 [rich]
   -------------------------------- ------- 30/37 [rich]
   -------------------------------- ------- 30/37 [rich]
   -------------------------------- ------- 30/37 [rich]
   -------------------------------- ------- 30/37 [rich]
   -------------------------------- ------- 30/37 [rich]
   -------------------------------- ------- 30/37 [rich]
   -------------------------------- ------- 30/37 [rich]
   -------------------------------- ------- 30/37 [rich]
   --------------------------------- ------ 31/37 [langcodes]
   --------------------------------- ------ 31/37 [langcodes]
   --------------------------------- ------ 31/37 [langcodes]
   ---------------------------------- ----- 32/37 [confection]
   ----------------------------------- ---- 33/37 [typer]
   ----------------------------------- ---- 33/37 [typer]
   ----------------------------------- ---- 33/37 [typer]
   ----------------------------------- ---- 33/37 [typer]
   ------------------------------------ --- 34/37 [thinc]
   ------------------------------------ --- 34/37 [thinc]
   ------------------------------------ --- 34/37 [thinc]
   ------------------------------------ --- 34/37 [thinc]
   ------------------------------------ --- 34/37 [thinc]
   ------------------------------------ --- 34/37 [thinc]
   ------------------------------------ --- 34/37 [thinc]
   ------------------------------------ --- 34/37 [thinc]
   ------------------------------------ --- 34/37 [thinc]
   ------------------------------------ --- 34/37 [thinc]
   ------------------------------------ --- 34/37 [thinc]
   ------------------------------------ --- 34/37 [thinc]
   ------------------------------------ --- 34/37 [thinc]
   ------------------------------------ --- 34/37 [thinc]
   ------------------------------------ --- 34/37 [thinc]
   ------------------------------------ --- 34/37 [thinc]
   ------------------------------------ --- 34/37 [thinc]
   ------------------------------------ --- 34/37 [thinc]
   ------------------------------------ --- 34/37 [thinc]
   ------------------------------------ --- 34/37 [thinc]
   ------------------------------------ --- 34/37 [thinc]

In [180]:
import pandas as pd
import spacy
nlp = spacy.load("en_core_web_sm")
# Convert to DataFrame
df1 = pd.DataFrame({'full_name': df['name']})

# Function to remove suffixes (MD, DDS, PhD, etc.)
def clean_name(name):
    doc = nlp(name)
    words = [token.text for token in doc if token.ent_type_ == "PERSON" or token.pos_ == "PROPN"]
    return " ".join(words)

# Apply function
df1['clean_name'] = df1['full_name'].apply(clean_name)

# Split into first and last names
df1['first_name'] = df1['clean_name'].str.split().str[0]
df1['last_name'] = df1['clean_name'].str.split().str[-1]

# Display results
print(df1[['full_name', 'clean_name', 'first_name', 'last_name']])

            full_name        clean_name first_name last_name
0       Michelle Kidd     Michelle Kidd   Michelle      Kidd
1         Brad Newton       Brad Newton       Brad    Newton
2        Larry Torres      Larry Torres      Larry    Torres
3      Kimberly Price    Kimberly Price   Kimberly     Price
4    Matthew Phillips  Matthew Phillips    Matthew  Phillips
..                ...               ...        ...       ...
995    Jerry Mcdaniel    Jerry Mcdaniel      Jerry  Mcdaniel
996      Jodi Simpson      Jodi Simpson       Jodi   Simpson
997     Crystal Brown     Crystal Brown    Crystal     Brown
998    Gregory Duarte    Gregory Duarte    Gregory    Duarte
999       Jason Walls       Jason Walls      Jason     Walls

[1000 rows x 4 columns]

In [176]:
df['name']=df['name'].str.replace(r'^(mr|ms|miss|dr|er)\.?\s+', '',regex=True ,flags=re.IGNORECASE )
df['name']=df['name'].str.replace(r'^(Jr.| Sr.|md|dds|phd|iii|II|III|)\.?\s+', '',regex=True ,flags=re.IGNORECASE )

In [ ]:
df.loc[936]

customer_id                                                        937
name                                               Gregory Delgado III
email                                     sandovaljennifer@example.net
phone                                                    +1-5105814385
address              81588 Tiffany Circles Apt. 973, East Danielle,...
registration_date                                  2025-03-30 00:00:00
loyalty_status                                                  Bronze
country_code                                                        MS
CallingCode                                                          1
first_name                                                     Gregory
last_name                                                          III
Name: 936, dtype: object

In [ ]:
df['name']

0         Michelle Kidd
1           Brad Newton
2          Larry Torres
3        Kimberly Price
4      Matthew Phillips
             ...
995      Jerry Mcdaniel
996        Jodi Simpson
997       Crystal Brown
998      Gregory Duarte
999         Jason Walls
Name: name, Length: 1000, dtype: object

In [160]:
df['name']=df['name'].str.replace(r'^(mr|ms|mrs|dr|miss|mrs|prof)\.?\s+', '',regex=True ,flags=re.IGNORECASE )
df['name']=df['name'].str.replace(r'\b(jr|md|phd|dds|iii|dvm)\.?$', '',regex=True ,flags=re.IGNORECASE )

# Dividing name to first name and last name

In [163]:
df['first_name']=df['name'].str.split().str[0]
df['last_name'] = df['name'].str.split().str[-1]
df['last_name'].head(20)

0          Kidd
1        Newton
2        Torres
3         Price
4      Phillips
5     Gallagher
6        Miller
7      Galloway
8        Harvey
9         White
10         Yang
11      Delgado
12      Brennan
13       Thomas
14        Perez
15     Matthews
16     Alvarado
17         Dunn
18      Johnson
19      Morales
Name: last_name, dtype: object

In [164]:
df['first_name']
df['last_name']

0          Kidd
1        Newton
2        Torres
3         Price
4      Phillips
         ...
995    Mcdaniel
996     Simpson
997       Brown
998      Duarte
999       Walls
Name: last_name, Length: 1000, dtype: object

In [165]:
df.head()

,customer_id,name,email,phone,address,registration_date,loyalty_status,country_code,CallingCode,first_name,last_name
0,1,Michelle Kidd,vayala@example.net,+971-6197234258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,AE,971,Michelle,Kidd
1,2,Brad Newton,taylorcatherine@example.net,+356-5376741158,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,MT,356,Brad,Newton
2,3,Larry Torres,dsanchez@example.net,+1-8102564505,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,UT,1,Larry,Torres
3,4,Kimberly Price,jessicaknight@example.com,+1-4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,CA,1,Kimberly,Price
4,5,Matthew Phillips,qwilliams@example.com,+1-2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,OR,1,Matthew,Phillips

# Connecting and pushing the updated table to ssms

In [166]:
conn = pyodbc.connect(
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=DESKTOP-4H1OBGV\\MSSQLSERVER1;"
    "DATABASE=pythonscenario;"
    "Trusted_Connection=yes;"
)
df.to_sql('customer',con=engine,if_exists='replace',index=False)

50

# Creating the new column for customer_tire

In [167]:
df['customer_tier']= df['loyalty_status'].apply(
lambda x: 0 if x=='Bronze' else 1 if x=='Silver' else 2
)

In [168]:
df['customer_tier']

0      2
1      1
2      0
3      2
4      2
      ..
995    1
996    0
997    0
998    2
999    0
Name: customer_tier, Length: 1000, dtype: int64

# Pushing the updated table to SSMS

In [169]:
df.to_sql('customer',con=engine,if_exists='replace',index=False)

130

In [170]:
df.columns

Index(['customer_id', 'name', 'email', 'phone', 'address', 'registration_date',
       'loyalty_status', 'country_code', 'CallingCode', 'first_name',
       'last_name', 'customer_tier'],
      dtype='object')

# Ordering the columns

In [171]:
new_order=['customer_id', 'name','first_name',
       'last_name',  'email', 'phone', 'address', 'registration_date',
       'loyalty_status', 'customer_tier', 'country_code', 'CallingCode']

In [172]:
df=df[new_order]

In [173]:
df.head()

,customer_id,name,first_name,last_name,email,phone,address,registration_date,loyalty_status,customer_tier,country_code,CallingCode
0,1,Michelle Kidd,Michelle,Kidd,vayala@example.net,+971-6197234258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,2,AE,971
1,2,Brad Newton,Brad,Newton,taylorcatherine@example.net,+356-5376741158,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,1,MT,356
2,3,Larry Torres,Larry,Torres,dsanchez@example.net,+1-8102564505,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,0,UT,1
3,4,Kimberly Price,Kimberly,Price,jessicaknight@example.com,+1-4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,2,CA,1
4,5,Matthew Phillips,Matthew,Phillips,qwilliams@example.com,+1-2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,2,OR,1

# Pushing the updated table to SSMS

In [174]:
df.to_sql('customer',con=engine,if_exists='replace',index=False)

130

# Perform necessary data joins to create a Unified Customer View that combines:
Customer Profiles
Order Information
All transformations listed below.
Load the Unified Customer View back into SQL Server for further analysis and reporting.

In [186]:
mergedf=pd.merge(df,transaction, on='customer_id',how ='inner')

In [192]:
merged_file=pd.merge(mergedf,orders, on='customer_id',how='inner')

In [193]:
merged_file.to_sql('Unifed_Customer_View',con=engine,if_exists='replace',index=False)

27

In [195]:
merged_file.isna().sum()

customer_id           0
name                  0
first_name            0
last_name             0
email                 0
phone                 0
address               0
registration_date     0
loyalty_status        0
customer_tier         0
country_code          0
CallingCode           0
transaction_id        0
amount                0
transaction_date      0
product_category_x    0
payment_method        0
store_location        0
order_id              0
order_date            0
order_amount          0
order_status          0
product_category_y    0
dtype: int64